
$squareSize: 60px;

.board {
  position: relative;
  float: left;
  width: 480px;
  overflow: hidden;
  margin-left: 40px;
  .board-background {
    div.board-row {
      margin-bottom: -6px;
    }
    span.board-cell {
      display: inline-block;
      @include panel($squareSize, $squareSize);
      background: none;
      cursor: initial;
    }
    div.board-row:nth-child(odd) span.board-cell:nth-child(even),
    div.board-row:nth-child(even) span.board-cell:nth-child(odd){
      background: $cPanel;
      &:hover {
        background: $cPanelHover;
      }
    }
  }
  .active {
    background: $cEmphasis !important;
  }
}


// Men & animating movement =====================

$manSize: 50px;
$manOffset: ($squareSize - $manSize) / 2;
// $manSize_large: 70px;
// $manOffset_large: ($squareSize - $manSize_large) / 2;

@mixin move_animation() {
  transition: top 1s, left 1s, border 1s;
}

// .man, .men {
.men {
  position: absolute;
  // top: 5 * $squareSize;
  // left: 4 * $squareSize;
  @include panel($squareSize, $squareSize);
  @include move_animation();
  &:hover {
    background: $cPanelHover;
    cursor: pointer;
  }
  .image {
    margin: $manOffset;
    @include move_animation();
    img {
      @include man($manSize);
      @include move_animation();
    }
  }
}



// .men {
//   top: 7 * $squareSize;
//   left: 2 * $squareSize;
// }

// .man.move1 {
//   top: 4 * $squareSize;
//   left: 5 * $squareSize;
//   @include move_animation();
//   .image.large {
//     margin: $manOffset_large;
//     @include move_animation();
//     img.large {
//       width: $manSize_large;
//       border-radius: 50%;
//       border: 2px solid black;
//       @include move_animation();
//     }
//   }
// }

// .man.move2 {
//   top: 3 * $squareSize;
//   left: 6 * $squareSize;
//   @include move_animation();
// }

