
// Purples
$cBrandDark: #403075;
$cBrandMedium: #685a95;
$cBrandLight: #9b91b8;
$cBrandFaded: #dfe2fc;

// Golds
$cAccent: lighten(gold, 20%);
$cAccentHover: gold;
$cAccentDarker: #e0c013;

// Oranges
$cEmphasis: #e58300;
$cButtonHover: darken(#e58300, 3%);
$cButtonText: white;

// Panels
$cPanel: white;
$cPanelHoverSubtle: #eee;
$cPanelHover: #ddd;
$cPanelEmphasis: #bfcaf0;

// Piece borders
$cBorderMan: black;
$cBorderKing: red;

// Misc Text
$cDefaultText: #333;
$cSubtleText: #bbb;

