
$prisonerSize: 32px;

.prison {
  position: relative;
  float: left;
  @include panel(190px, 240px);
  margin: 240px 0 0 20px;
  padding: 10px;
  cursor: inherit;
  background: $cPanelEmphasis;
  .avatar {
    position: absolute;
    top: -25px;
    right: -20px;
    border-radius: 8px;
    border: 2px solid $cEmphasis;
    img {
      width: 65px;
      border-radius: 5px;
    }
  }
  h4 span.count {
    font-size: 26px;
    color: $cEmphasis;
  }
  .prisoners {
    margin-top: 20px;
    .prisoner {
      float: left;
      width: $prisonerSize;
      height: $prisonerSize;
      margin: 20px 5px 0;
      img {
        @include man($prisonerSize);
        border-width: 1px;
      }
    }
  }
}

