
// Main setup ===================================

body {
  margin: 0 0 50px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  background: #403075;
  color: #333;
}

*:before, *:after { box-sizing: inherit; }

ul {
  padding: 0;
}

li {
  list-style : none;
  margin: 8px 0;
}

// Header =======================================

.header-banner {
  height: 120px;
  background: #685a95;
  color: #100434;
  header {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    .header-icon {
      width: 95px;
      height: 90px;
      border-radius: 8px;
      // padding-top: 16px;
      text-align: center;
      // font-size: 44px;
      // background: #e4cd3d;
      // color: darkblue;
      color: #dfe2fc;
    }
    .games-icon {
      float: left;
      padding-top: 16px;
      font-size: 44px;
    }
    .leaderboard-icon {
      float: right;
      padding-top: 5px;
      font-size: 60px;
    }
    .header-center {
      .title {
        letter-spacing: 3px;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 24px;
        color: #dfe2fc;
      }
      .new-game-icon {
        width: 250px;
        height: 45px;
        line-height: 45px;
        margin: 10px auto;
        padding: 0;
        text-align: center;
        font-size: 22px;
        background: #e58300;
        color: white;
      }
    }
  }
}

// Login form ===================================

#userName {
  padding: 15em;
  width: 11em;
  input {
    width: 17em;
    border-color: gray;
    border-radius: 0.3em;
  }
  input#subBtn {
    width: 8em;
  }
}

// Games list ===================================

.games-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  h2 {
    text-transform: uppercase;
    color: #9b91b8;
  }

  li {
    height: 100px;
    background: white;
    border-radius: 8px;
    div.image {
      float: left;
      img {
        width: 80px;
        border-radius: 5px;
        margin: 10px;
      }
    }
    div.text {
      float: left;
      margin: 10px;
      div.opponent-name {
        font-size: 30px;
      }
      div.captured {
        float: left;
        margin-top: 10px;
        span.captured-value {
          font-size: 24px;
          color: #e58300;
        }
      }
    }
    div.timestamps {
      float: right;
      margin-right: 12px;
      div.last-move {
        text-align: right;
        margin-top: 15px;
        color: #bbb;
      }
      div.timed {
        text-align: right;
        margin-top: 35px;
        color: rgb(224, 192, 19);
        i.fa-clock-o {
          font-size: 24px;
        }
      }
    }
  }
}

// Board ========================================

.board-wrapper {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  .board {
    margin: 40px 25px;
    span {
      display: inline-block;
      width: 75px;
      height: 75px;
      border-radius: 8px;
    }
    div:nth-child(odd) span:nth-child(even),
    div:nth-child(even) span:nth-child(odd){
      background-color: white;
    }
  }
}


