
@import 'color_palette';

// Main setup ===================================

body {
  margin: 0 0 50px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  background: $cBrandDark;
  color: $cDefaultText;
}

*:before, *:after { box-sizing: inherit; }

ul {
  padding: 0;
}

li {
  list-style : none;
  margin: 8px 0;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: $cBrandLight;
}

h2 {
  text-transform: uppercase;
  color: $cBrandLight;
}

h3 {
  margin: 0 0 30px;
  text-align: center;
  text-transform: lowercase;
  color: $cBrandLight;
}

// Full-width Sticky Header Bar =================

$headerHeight: 120px;

.header-bar {
  position: fixed;
  height: $headerHeight;
  width: 100%;
  z-index: 10;
  background: $cBrandMedium;
  color: #100434;
}

.header-offset {
  height: $headerHeight;
}

// Wrappers =====================================

@mixin wrapper($maxW) {
  width: 100%;
  max-width: $maxW;
  overflow: hidden;
  margin: 0 auto 20px;
}

.header-wrapper {
  @include wrapper(600px);
  margin-bottom: 0;
  padding: 15px;
}

.games-wrapper {
  @include wrapper(500px);
}

.game-wrapper {
  @include wrapper(750px);
}

// View-specific imports ========================

@import 'auth';
@import 'header';
@import 'games_list';
@import 'board';
@import 'prison';


// Login form ===================================

#userName {
  padding: 15em;
  width: 11em;
  input {
    width: 17em;
    border-color: gray;
    border-radius: 0.3em;
  }
  input#subBtn {
    width: 8em;
  }
}

