
<div>
  <h3>My Move</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Last Move</th>
        <th>Prisoners</th>
        <th>Timed Game?</th>
      </tr>
    </thead>
    <tbody id="myMove"></tbody>
  </table>
</div>

<div>
  <h3>Waiting on Opponent</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Last Move</th>
        <th>Prisoners</th>
        <th>Timed Game?</th>
      </tr>
    </thead>
    <tbody id="opponentMove"></tbody>
  </table>
</div>

