
<li class="none-waiting-on-me">
  <div class="image"><img src="http://www.gravatar.com/avatar/{{ hash }}?s=200&d=monsterid"></div>
  <div class="text">
    <div class="statement">You need some prisoners</div>
    <div class="call-to-action">Start a game!</div>
  </div>
</li>

