
<form id="signupForm" action="/">
  <h1>Sign Up</h1>
  <input type="text" placeholder="Email" id="email" />
  <input type="password" placeholder="Password" id="password" />
  <input type="text" placeholder="Username" id="username" />
  <input type="button" value="Capture some monsters..." id="signupButton">
</form>

