
<form id="signinForm" action="/">
  <h1>Sign In</h1>
  <input type="email" placeholder="Email" id="email" />
  <input type="password" placeholder="Password" id="password" />
  <input type="button" value="Capture some monsters..." id="signinButton" />
</form>

