<form id="userLogin">
  <h1>User Login</h1>
  <input type="text" placeholder="Email" id="email" />
  <input type="text" placeholder="Password" id="password" />
  <input type="button" value="Submit Form" id="subBtn" />
</form>
